<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/contact">Contact</button>
  <button mat-menu-item routerLink="/about">About me</button>
  <button mat-menu-item routerLink="/projects">Project</button>
  <button mat-menu-item routerLink="/service">Service</button>

 
</mat-menu>
<H1>Hello Jong Min world!(301238132)</H1>
<h5>___________________________________________________________________________________</h5>
<router-outlet></router-outlet>

